Movie Recomendation:
 
Data Used is from IMDB DATASET --> https://datasets.imdbws.com/
IMDb Dataset Details --> https://datasets.imdbws.com/

In [ ]:
!wget https://datasets.imdbws.com/name.basics.tsv.gz
!wget https://datasets.imdbws.com/title.akas.tsv.gz
!wget https://datasets.imdbws.com/title.crew.tsv.gz
!wget https://datasets.imdbws.com/title.ratings.tsv.gz
!wget https://datasets.imdbws.com/title.basics.tsv.gz

--2021-01-03 02:37:12--  https://datasets.imdbws.com/name.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 65.8.27.11, 65.8.27.36, 65.8.27.5, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|65.8.27.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 206882917 (197M) [binary/octet-stream]
Saving to: ‘name.basics.tsv.gz’

name.basics.tsv.gz  100%[===================>] 197.30M  48.5MB/s    in 4.0s

2021-01-03 02:37:17 (49.0 MB/s) - ‘name.basics.tsv.gz’ saved [206882917/206882917]

--2021-01-03 02:37:17--  https://datasets.imdbws.com/title.akas.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 65.8.27.11, 65.8.27.36, 65.8.27.5, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|65.8.27.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 213942834 (204M) [binary/octet-stream]
Saving to: ‘title.akas.tsv.gz’

title.akas.tsv.gz   100%[===================>] 204.03M  57.5MB/s    in 3.7s

2021-01-03 02:37:21 (55.5 MB/s) - ‘title.akas.tsv.gz’ saved [213942834/213942834]

--2021-01-03 02:37:21--  https://datasets.imdbws.com/title.crew.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 65.8.27.5, 65.8.27.36, 65.8.27.75, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|65.8.27.5|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 52087688 (50M) [binary/octet-stream]
Saving to: ‘title.crew.tsv.gz’

title.crew.tsv.gz   100%[===================>]  49.67M  53.0MB/s    in 0.9s

2021-01-03 02:37:23 (53.0 MB/s) - ‘title.crew.tsv.gz’ saved [52087688/52087688]

--2021-01-03 02:37:23--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 65.8.27.5, 65.8.27.36, 65.8.27.75, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|65.8.27.5|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5483212 (5.2M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz’

title.ratings.tsv.g 100%[===================>]   5.23M  24.2MB/s    in 0.2s

2021-01-03 02:37:24 (24.2 MB/s) - ‘title.ratings.tsv.gz’ saved [5483212/5483212]

--2021-01-03 02:37:24--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 65.8.27.5, 65.8.27.36, 65.8.27.75, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|65.8.27.5|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 133149485 (127M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz’

title.basics.tsv.gz 100%[===================>] 126.98M  49.6MB/s    in 2.6s

2021-01-03 02:37:27 (49.6 MB/s) - ‘title.basics.tsv.gz’ saved [133149485/133149485]

In [ ]:
!ls

name.basics.tsv  tamil_movies_imdb.csv	       title.basics.tsv
playlist.csv	 tamil_movies_sorted_imdb.csv  title.crew.tsv
sample_data	 title.akas.tsv		       title.ratings.tsv

In [ ]:
!gzip -d name.basics.tsv.gz
!gzip -d title.akas.tsv.gz
!gzip -d title.crew.tsv.gz
!gzip -d title.ratings.tsv.gz
!gzip -d title.basics.tsv.gz

In [ ]:
ls -S

title.akas.tsv    title.crew.tsv         tamil_movies_sorted_imdb.csv
title.basics.tsv  title.ratings.tsv      playlist.csv
name.basics.tsv   tamil_movies_imdb.csv  sample_data/

In [ ]:
!head title.akas.tsv

titleId	ordering	title	region	language	types	attributes	isOriginalTitle
tt0000001	1	Карменсіта	UA	\N	imdbDisplay	\N	0
tt0000001	2	Carmencita	DE	\N	\N	literal title	0
tt0000001	3	Carmencita - spanyol tánc	HU	\N	imdbDisplay	\N	0
tt0000001	4	Καρμενσίτα	GR	\N	imdbDisplay	\N	0
tt0000001	5	Карменсита	RU	\N	imdbDisplay	\N	0
tt0000001	6	Carmencita	US	\N	\N	\N	0
tt0000001	7	Carmencita	\N	\N	original	\N	1
tt0000001	8	カルメンチータ	JP	ja	imdbDisplay	\N	0
tt0000002	1	Le clown et ses chiens	\N	\N	original	\N	1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('title.akas.tsv', sep='\t', header=0)

NameError: ignored

In [ ]:
data.head()

          titleId                                title        types attributes
129792  tt0029583        Sno Oyit Te cevan tvarhptsaic  alternative         \N
479884  tt0070047                         The Exorcist  imdbDisplay         \N
506078  tt0073195                                 Jaws  imdbDisplay         \N
527603  tt0075860  Munram Vakaiyana Cantippukalai Mutu  imdbDisplay         \N
543715  tt0077760                         Jagan Mohini           \N         \N

In [ ]:
data=data[data['language']=='ta']

NameError: ignored

In [ ]:
data.head()

          titleId                                title        types attributes
129792  tt0029583        Sno Oyit Te cevan tvarhptsaic  alternative         \N
479884  tt0070047                         The Exorcist  imdbDisplay         \N
506078  tt0073195                                 Jaws  imdbDisplay         \N
527603  tt0075860  Munram Vakaiyana Cantippukalai Mutu  imdbDisplay         \N
543715  tt0077760                         Jagan Mohini           \N         \N

In [ ]:
data=data[data['attributes']!='dubbed version']

NameError: ignored

In [ ]:
data.head()

          titleId                                title        types attributes
129792  tt0029583        Sno Oyit Te cevan tvarhptsaic  alternative         \N
479884  tt0070047                         The Exorcist  imdbDisplay         \N
506078  tt0073195                                 Jaws  imdbDisplay         \N
527603  tt0075860  Munram Vakaiyana Cantippukalai Mutu  imdbDisplay         \N
543715  tt0077760                         Jagan Mohini           \N         \N

In [ ]:
len(data)

NameError: ignored

In [ ]:
data[data['ordering']==47]

KeyError: ignored

In [ ]:
data.drop('ordering', inplace=True, axis=1)

NameError: ignored

In [ ]:
data

            titleId  ...      attributes
129792    tt0029583  ...              \N
479884    tt0070047  ...              \N
506078    tt0073195  ...              \N
527603    tt0075860  ...              \N
543715    tt0077760  ...              \N
...             ...  ...             ...
22221838  tt8517272  ...              \N
22236812  tt8526010  ...  complete title
23486688  tt9260636  ...              \N
23645561  tt9343976  ...              \N
24123375  tt9605894  ...              \N

[571 rows x 4 columns]

In [ ]:
data.drop(['region','language','isOriginalTitle'], inplace=True, axis=1)

NameError: ignored

In [ ]:
data

            titleId  ...      attributes
129792    tt0029583  ...              \N
479884    tt0070047  ...              \N
506078    tt0073195  ...              \N
527603    tt0075860  ...              \N
543715    tt0077760  ...              \N
...             ...  ...             ...
22221838  tt8517272  ...              \N
22236812  tt8526010  ...  complete title
23486688  tt9260636  ...              \N
23645561  tt9343976  ...              \N
24123375  tt9605894  ...              \N

[571 rows x 4 columns]

In [ ]:
!ls

In [ ]:
rating=pd.read_csv('title.ratings.tsv', sep='\t', header=0)

In [ ]:
data

In [ ]:
rating

            tconst  averageRating  numVotes
0        tt0000001            5.7      1669
1        tt0000002            6.1       207
2        tt0000003            6.5      1392
3        tt0000004            6.2       123
4        tt0000005            6.2      2181
...            ...            ...       ...
1108313  tt9916580            7.2         5
1108314  tt9916690            6.6         5
1108315  tt9916720            6.1        68
1108316  tt9916766            6.9        15
1108317  tt9916778            7.5        27

[1108318 rows x 3 columns]

In [ ]:
rating=rating.rename(columns={'tconst':'titleId','averageRating':'averageRating','numVotes':'numVotes'})

NameError: ignored

In [ ]:
basic=pd.read_csv('title.basics.tsv',sep='\t',header=0)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
basic.head()

NameError: ignored

In [ ]:
basic.drop(['titleType','primaryTitle','originalTitle','endYear'],inplace=True,axis=1)

In [ ]:
basic.head()

In [ ]:
basic.columns

In [ ]:
basic=basic.rename(columns={'tconst':'titleId', 'isAdult':'isAdult', 'startYear': 'startYear', 'runtimeMinutes':'runtimeMinutes', 'genres':'genres'})

NameError: ignored

In [ ]:
movies=data.merge(rating)

In [ ]:
movies=movies.merge(basic)

NameError: ignored

In [ ]:
movies

In [ ]:
movies.drop('attributes',inplace=True,axis=1)
movies = movies.drop_duplicates(subset=['titleId'])

In [ ]:
movies

In [ ]:
movies.to_csv('tamil_movies_imdb.csv')

In [ ]:
movies.sort_values(by='title').to_csv('tamil_movies_sorted_imdb.csv')

In [ ]:
movies.columns

Index(['titleId', 'title', 'types', 'averageRating', 'numVotes', 'isAdult',
       'startYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [ ]:
my=pd.read_csv('playlist.csv',header=0)

In [ ]:
my.head()

     titleId                        title  ...                   genres  liked
0  tt1512888            Aayirathil Oruvan  ...         Action,Adventure      1
1  tt0324977  Allaudinum Arputha Vilakkum  ...  Adventure,Drama,Fantasy      1
2  tt1841504                    Ambuli 3D  ...      Action,Drama,Sci-Fi      1
3  tt1365436             Ananda Thandavam  ...                  Romance      1
4  tt0376127                      Anniyan  ...    Action,Drama,Thriller      1

[5 rows x 10 columns]

In [ ]:
my=my.sample(frac=1)

In [ ]:
my.head()

      titleId                   title  ...                 genres  liked
26  tt0385928         Panchathantiram  ...           Comedy,Drama      1
18  tt0116630                  Indian  ...  Action,Drama,Thriller      1
43  tt3421036  Thirumanam Enum Nikkah  ...                Romance      1
55  tt4762826       Inimey Ippadithan  ...         Comedy,Romance      1
4   tt0376127                 Anniyan  ...  Action,Drama,Thriller      1

[5 rows x 10 columns]

In [ ]:
len(my)

74

In [ ]:
74*.7

51.8

In [ ]:
x_train=[my['averageRating'][:51],my['numVotes'][:51],my['startYear'][:51],my['runtimeMinutes'][:51],my['genres'][:51]]

In [ ]:
y_train=[my['liked']][:51]

In [ ]:
x_test=[my['averageRating'][51:],my['numVotes'][51:],my['startYear'][51:],my['runtimeMinutes'][51:],my['genres'][51:]]

In [ ]:
y_test=[my['liked']][51:]

In [ ]:
import tensorflow as tf

In [ ]:
model=tf.keras.models.Sequential()

In [ ]:
model.add(keras.layers)

ValueError: ignored